Repository AcrossTec/SysCredit, pull requests merged in 2023-10, with the labels that each got.

#75 Get GuarantorDetails By CustomerId And GuarantorId
  SysCredit.Api/Controllers/CustomerController.cs
  SysCredit.Api/Interfaces/Services/ICustomerService.cs
  SysCredit.Api/Requests/Customers/GuarantorAndCustomerIdsRequest.cs
  SysCredit.Api/Requests/Guarantors/GuarantorIdRequest.cs
  SysCredit.Api/Services/CustomerService.cs
  SysCredit.Api/Stores/CustomerStore.cs
  SysCredit.SQLServer/StoredProcedures/Customers/FetchGuarantorByCustomerIdAndGuarantorId.sql
  SysCredit.SQLServer/SysCredit.SQLServer.sqlproj
Labels: api, backend, Customer

#82 feat: Create Put Relationship By RelationshipId
  SysCredit.Api/Controllers/RelationshipController.cs
  SysCredit.Api/Extensions/GeneralExtensions.cs
  SysCredit.Api/Extensions/ValidatorExtensions.cs
  SysCredit.Api/Middlewares/SysCreditMiddleware.cs
  SysCredit.Api/Properties/ErrorCodeMessages.es-NI.resx
  SysCredit.Api/Properties/SysCreditMessages.es-NI.resx
  SysCredit.Api/Properties/SysCreditMessages.resx
  SysCredit.Api/Requests/Relationships/UpdateRelationshipRequest.cs
  SysCredit.Api/Services/RelationshipService.cs
  SysCredit.Api/Stores/RelationshipStore.cs
  SysCredit.Api/SysCredit.Api.csproj
  SysCredit.Api/Validations/Relationships/AsyncExistsRelationshipValidator.cs
  SysCredit.Api/Validations/Relationships/AsyncRelationshipUniqueNameValidator.cs
  SysCredit.Api/Validations/Relationships/UpdateRelationshipValidator.cs
  SysCredit.SQLServer/StoredProcedures/Catalogs/Relationships/FetchRelationship.sql
  SysCredit.SQLServer/StoredProcedures/Catalogs/Relationships/FetchRelationshipById.sql
  SysCredit.SQLServer/StoredProcedures/Catalogs/Relationships/FetchRelationshipByName.sql
  SysCredit.SQLServer/StoredProcedures/Catalogs/Relationships/UpdateRelationship.sql
  SysCredit.SQLServer/SysCredit.SQLServer.sqlproj
Labels: endpoint, sql, backend, C#, Relationship

#78 feat: Create Get Relationship By RelationshipId
  SysCredit.Api/Controllers/RelationshipController.cs
  SysCredit.Api/Program.cs
  SysCredit.Api/Services/RelationshipService.cs
  SysCredit.Api/SysCredit.Api.csproj
  SysCredit.SQLServer/StoredProcedures/Catalogs/Relationships/FetchRelationshipByName.sql
  SysCredit.SQLServer/SysCredit.SQLServer.sqlproj
Labels: duplicate, endpoint, sql, backend, C#, Relationship

#77 feat: Post Relationship Endpoint
  SysCredit.Api/Controllers/RelationshipController.cs
  SysCredit.Api/Requests/Relationships/CreateRelationshipRequest.cs
  SysCredit.Api/Services/RelationshipService.cs
  SysCredit.Api/Stores/RelationshipStore.cs
  SysCredit.SQLServer/StoredProcedures/Catalogs/Relationships/FetchInsertRelationship.sql
  SysCredit.SQLServer/StoredProcedures/Catalogs/Relationships/InsertRelationship.sql
  SysCredit.SQLServer/SysCredit.SQLServer.sqlproj
Labels: endpoint, backend, C#, Relationship

#79 feat: Delete Relationship By RelationshipId Endpoint
  SysCredit.Api/Controllers/RelationshipController.cs
  SysCredit.Api/Services/RelationshipService.cs
  SysCredit.Api/Stores/RelationshipStore.cs
  SysCredit.SQLServer/StoredProcedures/Catalogs/Relationships/DeleteRelationship.sql
  SysCredit.SQLServer/SysCredit.SQLServer.sqlproj
Labels: endpoint, backend, C#, Relationship

#70 feat: Create Guarantor Delete Endpoint
  SysCredit.Api/Controllers/GuarantorController.cs
  SysCredit.Api/Extensions/ValidatorExtensions.cs
  SysCredit.Api/Properties/ErrorCodeMessages.es-NI.resx
  SysCredit.Api/Requests/Guarantors/DeleteGuarantorRequest.cs
  SysCredit.Api/Services/GuarantorService.cs
  SysCredit.Api/Stores/CustomerStore.cs
  SysCredit.Api/Stores/GuarantorStore.cs
  SysCredit.Api/Validations/Customers/AsyncVerifyifCustomerByGuarantorIdValidator.cs
  SysCredit.Api/Validations/Guarantors/DeleteGuarantorValidator.cs
  SysCredit.SQLServer/StoredProcedures/Customers/FetchCustomerByGuarantorId.sql
  SysCredit.SQLServer/StoredProcedures/Guarantors/DeleteGuarantorById.sql
  SysCredit.SQLServer/SysCredit.SQLServer.sqlproj
Labels: api, sql, Guarantor

#90 fix: Payment Frequency Endpoint Fixed
  SysCredit.Api/Controllers/PaymentFrequencyController.cs
  SysCredit.Api/Extensions/ReflectionExtensions.cs
  SysCredit.Api/Proxies/LoggingAdviceServiceInterceptor.cs
  SysCredit.Api/Requests/PaymentFrequencies/DeletePaymentFrequencyRequest.cs
  SysCredit.Api/Services/PaymentFrequencyService.cs
  SysCredit.Api/Stores/PaymentFrequencyStore.cs
  SysCredit.Helpers/Response.cs
  SysCredit.SQLServer/StoredProcedures/Catalogs/PaymentFrequencies/DeletePaymentFrequency.sql
  SysCredit.SQLServer/StoredProcedures/Catalogs/PaymentFrequencies/FetchPaymentFrequency.sql
  SysCredit.SQLServer/StoredProcedures/Catalogs/PaymentFrequencies/FetchPaymentFrequencyById.sql
  SysCredit.SQLServer/StoredProcedures/Catalogs/PaymentFrequencies/InsertPaymentFrequency.sql
  SysCredit.SQLServer/StoredProcedures/Catalogs/PaymentFrequencies/UpdatePaymentFrequency.sql
Labels: bug, api, backend

#89 fix: Fixing The LoanType Endpoint
  SysCredit.Api/Controllers/LoanTypeController.cs
  SysCredit.Api/Extensions/ValidatorExtensions.cs
  SysCredit.Api/Requests/LoanTypes/CreateLoanTypeRequest.cs
  SysCredit.Api/Requests/LoanTypes/UpdateLoanTypeRequest.cs
  SysCredit.Api/Services/LoanTypeService.cs
  SysCredit.Api/Stores/LoanTypeStore.cs
  SysCredit.Api/Validations/LoanTypes/AsyncLoanTypeUniqueNameValidator.cs
  SysCredit.Api/Validations/LoanTypes/CreateLoanTypeValidator.cs
  SysCredit.Api/Validations/LoanTypes/UpdateLoanTypeValidator.cs
  SysCredit.Api/Validations/LoanTypes/VerifyRouteWithLoanTypeIdValidator.cs
  SysCredit.SQLServer/StoredProcedures/Catalogs/LoanTypes/FetchLoanType.sql
  SysCredit.SQLServer/StoredProcedures/Catalogs/LoanTypes/InsertLoanType.sql
  SysCredit.SQLServer/StoredProcedures/Catalogs/LoanTypes/UpdateLoanType.sql
  SysCredit.SQLServer/SysCredit.SQLServer.sqlproj
Labels: bug, endpoint, api, sql, backend, C#, LoanType

#91 fix: Relationship Endpoint Fixed
  SysCredit.Api/Controllers/PaymentFrequencyController.cs
  SysCredit.Api/Controllers/RelationshipController.cs
  SysCredit.Api/Requests/Relationships/CreateRelationshipRequest.cs
  SysCredit.Api/Requests/Relationships/DeleteRelationshipRequest.cs
  SysCredit.Api/Services/PaymentFrequencyService.cs
  SysCredit.Api/Services/RelationshipService.cs
  SysCredit.Api/Stores/RelationshipStore.cs
  SysCredit.Api/Validations/Relationships/CreateRelationshipValidator.cs
  SysCredit.Api/Validations/Relationships/DeleteRelationshipValidator.cs
  SysCredit.SQLServer/StoredProcedures/Catalogs/PaymentFrequencies/InsertPaymentFrequency.sql
  SysCredit.SQLServer/StoredProcedures/Catalogs/Relationships/DeleteRelationship.sql
  SysCredit.SQLServer/StoredProcedures/Catalogs/Relationships/FetchRelationship.sql
  SysCredit.SQLServer/StoredProcedures/Catalogs/Relationships/FetchRelationshipById.sql
  SysCredit.SQLServer/StoredProcedures/Catalogs/Relationships/FetchRelationshipByName.sql
  SysCredit.SQLServer/StoredProcedures/Catalogs/Relationships/InsertRelationship.sql
Labels: bug, api, backend

#92 fix: Fixing The Guarantor Endpoint
  SysCredit.Api/Controllers/GuarantorController.cs
  SysCredit.Api/Controllers/LoanTypeController.cs
  SysCredit.Api/Requests/Guarantors/CreateGuarantorRequest.cs
  SysCredit.Api/Services/GuarantorService.cs
  SysCredit.Api/Services/LoanTypeService.cs
  SysCredit.Api/Stores/GuarantorStore.cs
  SysCredit.Api/Validations/Guarantors/AsyncGuarantorUniqueEmailValidator.cs
  SysCredit.Api/Validations/Guarantors/AsyncGuarantorUniqueIdentificationValidator.cs
  SysCredit.Api/Validations/Guarantors/AsyncGuarantorUniquePhoneValidator.cs
  SysCredit.Api/Validations/Guarantors/CreateGuarantorValidator.cs
  SysCredit.SQLServer/StoredProcedures/Guarantors/DeleteGuarantor.sql
  SysCredit.SQLServer/SysCredit.SQLServer.sqlproj
Labels: bug, enhancement, endpoint, api, sql, backend, C#, Guarantor

#103 feat: Add Error Codes to Guarantor, PaymentFrequency and LoanType Service
  SysCredit.Api/Properties/ErrorCodeMessages.es-NI.resx
  SysCredit.Api/Properties/ErrorCodeMessages.resx
  SysCredit.Api/Stores/LoanTypeStore.cs
  SysCredit.Api/Validations/Customers/AsyncVerifyifCustomerByGuarantorIdValidator.cs
  SysCredit.Api/Validations/Guarantors/AsyncExistsGuarantorValidator.cs
  SysCredit.Api/Validations/Guarantors/AsyncGuarantorUniqueEmailValidator.cs
  SysCredit.Api/Validations/Guarantors/AsyncGuarantorUniqueIdentificationValidator.cs
  SysCredit.Api/Validations/Guarantors/AsyncGuarantorUniquePhoneValidator.cs
  SysCredit.Api/Validations/Guarantors/CreateGuarantorValidator.cs
  SysCredit.Api/Validations/Guarantors/DeleteGuarantorValidator.cs
  SysCredit.Api/Validations/LoanTypes/AsyncVerifyLoanTypeReferenceValidator.cs
  SysCredit.Api/Validations/LoanTypes/CreateLoanTypeValidator.cs
  SysCredit.Api/Validations/LoanTypes/DeleteLoanTypeValidator.cs
  SysCredit.Api/Validations/LoanTypes/UpdateLoanTypeValidator.cs
  SysCredit.Api/Validations/PaymentFrequencies/AsyncPaymentFrequencyUniqueNameValidator.cs
  SysCredit.Api/Validations/PaymentFrequencies/CreatePaymentFrequencyValidator.cs
  SysCredit.Api/Validations/PaymentFrequencies/UpdatePaymentFrequencyValidator.cs
  SysCredit.Api/Validations/PaymentFrequencies/VerifyRouteWithPaymentFrequencyIdValidator.cs
Labels: enhancement, api, backend, ErrorCodes

#112 feat: Add Comments to PaymentFrequency, Reference and Relationship Re…
  SysCredit.Api/Requests/PaymentFrequencies/CreatePaymentFrequencyRequest.cs
  SysCredit.Api/Requests/PaymentFrequencies/DeletePaymentFrequencyRequest.cs
  SysCredit.Api/Requests/PaymentFrequencies/UpdatePaymentFrequencyRequest.cs
  SysCredit.Api/Requests/References/CreateReferenceRequest.cs
  SysCredit.Api/Requests/Relationships/CreateRelationshipRequest.cs
  SysCredit.Api/Requests/Relationships/DeleteRelationshipRequest.cs
  SysCredit.Api/Requests/Relationships/UpdateRelationshipRequest.cs
Labels: backend, PaymentFrequency, Relationship

#114 feat: Adding Comments To Loantype and PaymentFrequency Validators
  SysCredit.Api/Validations/LoanTypes/AsyncLoanTypeUniqueNameValidator.cs
  SysCredit.Api/Validations/LoanTypes/AsyncVerifyLoanTypeReferenceValidator.cs
  SysCredit.Api/Validations/LoanTypes/CreateLoanTypeValidator.cs
  SysCredit.Api/Validations/LoanTypes/DeleteLoanTypeValidator.cs
  SysCredit.Api/Validations/LoanTypes/UpdateLoanTypeValidator.cs
  SysCredit.Api/Validations/PaymentFrequencies/AsyncPaymentFrequencyUniqueNameValidator.cs
  SysCredit.Api/Validations/PaymentFrequencies/CreatePaymentFrequencyValidator.cs
  SysCredit.Api/Validations/PaymentFrequencies/DeletePaymentFrequencyValidator.cs
  SysCredit.Api/Validations/PaymentFrequencies/UpdatePaymentFrequencyValidator.cs
  SysCredit.Api/Validations/PaymentFrequencies/VerifyRouteWithPaymentFrequencyIdValidator.cs
Labels: LoanType, PaymentFrequency

#113 feat: Add Comments to Guarantors and LoanTypes Request
  SysCredit.Api/Requests/Guarantors/CreateGuarantorRequest.cs
  SysCredit.Api/Requests/Guarantors/DeleteGuarantorRequest.cs
  SysCredit.Api/Requests/Guarantors/GuarantorIdRequest.cs
  SysCredit.Api/Requests/LoanTypes/CreateLoanTypeRequest.cs
  SysCredit.Api/Requests/LoanTypes/DeleteLoanTypeRequest.cs
  SysCredit.Api/Requests/LoanTypes/UpdateLoanTypeRequest.cs
Labels: api, backend

#115 feat: Add Comments to References and Relationships Validator
  SysCredit.Api/Validations/References/CreateReferenceValidator.cs
  SysCredit.Api/Validations/Relationships/AsyncExistsRelationshipValidator.cs
  SysCredit.Api/Validations/Relationships/AsyncRelationshipUniqueNameValidator.cs
  SysCredit.Api/Validations/Relationships/CreateRelationshipValidator.cs
  SysCredit.Api/Validations/Relationships/DeleteRelationshipValidator.cs
  SysCredit.Api/Validations/Relationships/UpdateRelationshipValidator.cs
Labels: api, backend

#130 feat: Add Foreign Keys to CustomerReference and CustomerGuarantor Table
  SysCredit.SQLServer/Tables/CustomerGuarantor.sql
  SysCredit.SQLServer/Tables/CustomerReference.sql
Labels: sql, backend

#104 fix: Customer Endpoint Fixed
  SysCredit.Api/Controllers/CustomerController.cs
  SysCredit.Api/Services/CustomerService.cs
  SysCredit.Api/Stores/CustomerStore.cs
  SysCredit.DataTransferObject/Commons/CustomerInfo.cs
  SysCredit.DataTransferObject/Commons/GuarantorInfo.cs
  SysCredit.DataTransferObject/Commons/ReferenceInfo.cs
  SysCredit.DataTransferObject/StoredProcedures/FetchCustomer.cs
  SysCredit.DataTransferObject/StoredProcedures/SearchCustomer.cs
  SysCredit.SQLServer/StoredProcedures/Customers/FetchGuarantorByCustomerIdAndGuarantorId.sql
  SysCredit.SQLServer/StoredProcedures/Customers/FetchGuarantorsByCustomerId.sql
Labels: bug, api, backend, Customer

#126 feat: Porting The SQLServer Database to PostgresSQL
  SysCredit.PostgreSQL/SysCredit.PostgreSQL.vcxproj
  SysCredit.PostgreSQL/SysCredit.PostgreSQL.vcxproj.filters
  SysCredit.PostgreSQL/Tables/Customer.sql
  SysCredit.PostgreSQL/Tables/CustomerGuarantor.sql
  SysCredit.PostgreSQL/Tables/CustomerReference.sql
  SysCredit.PostgreSQL/Tables/Guarantor.sql
  SysCredit.PostgreSQL/Tables/Loan.sql
  SysCredit.PostgreSQL/Tables/LoanType.sql
  SysCredit.PostgreSQL/Tables/PaymentFrequency.sql
  SysCredit.PostgreSQL/Tables/PaymentPlan.sql
  SysCredit.PostgreSQL/Tables/PaymentPlanDetails.sql
  SysCredit.PostgreSQL/Tables/Reference.sql
  SysCredit.PostgreSQL/Tables/Relationship.sql
  SysCredit.PostgreSQL/Tables/Role.sql
  SysCredit.PostgreSQL/Tables/RoleClaim.sql
  SysCredit.PostgreSQL/Tables/User.sql
  SysCredit.PostgreSQL/Tables/UserClaim.sql
  SysCredit.PostgreSQL/Tables/UserRole.sql
Labels: sql, PostgresSql
