Repository AcrossTec/SysCredit, pull requests merged in 2023-09, with the labels that each got.

#47 feat: Validator for Update PaymentFrequency EndPoint
  SysCredit.Api/Extensions/ValidatorExtensions.cs
  SysCredit.Api/Properties/ErrorCodeMessages.es-NI.resx
  SysCredit.Api/Properties/ErrorCodeMessages.resx
  SysCredit.Api/Services/PaymentFrequencyService.cs
  SysCredit.Api/Stores/PaymentFrequencyStore.cs
  SysCredit.Api/Validations/PaymentFrequencies/AsyncPaymentFrequencyUniqueNameValidator.cs
  SysCredit.Api/Validations/PaymentFrequencies/UpdatePaymentFrequencyValidator.cs
  SysCredit.Api/Validations/PaymentFrequencies/VerifyRouteWithPaymentFrequencyIdValidator.cs
Labels: endpoint, api, backend, PaymentFrequency

#46 feat: Create Get Customer References By Id Endpoint
  SysCredit.Api.Tests/IntegrationTests/CustomerEndpointTests.cs
  SysCredit.Api/Controllers/CustomerController.cs
  SysCredit.Api/Extensions/ValidatorExtensions.cs
  SysCredit.Api/Interfaces/Services/ICustomerService.cs
  SysCredit.Api/Properties/ErrorCodeMessages.es-NI.resx
  SysCredit.Api/Properties/ErrorCodeMessages.resx
  SysCredit.Api/Requests/Customers/CustomerIdRequest.cs
  SysCredit.Api/Services/CustomerService.cs
  SysCredit.Api/Stores/CustomerStore.cs
  SysCredit.Api/Stores/GuarantorStore.cs
  SysCredit.Api/Validations/Customers/AsyncVerifyIfCustomerExistsByIdValidator.cs
  SysCredit.Api/Validations/Customers/CustomerIdRequestValidator.cs
  SysCredit.SQLServer/StoredProcedures/Customers/FetchReferencesByCustomerId.sql
  SysCredit.sln
Labels: endpoint, api, backend, C#, Customer

#50 feat: Get All Guarantors by Customer Id
  SysCredit.Api/Controllers/CustomerController.cs
  SysCredit.Api/Interfaces/Services/ICustomerService.cs
  SysCredit.Api/Services/CustomerService.cs
  SysCredit.Api/Stores/CustomerStore.cs
  SysCredit.SQLServer/StoredProcedures/Customers/FetchGuarantorsByCustomerId.sql
  SysCredit.SQLServer/SysCredit.SQLServer.sqlproj
Labels: endpoint, api, backend, Customer

#51 feat: Delete Payment Frequency By Id
  SysCredit.Api.Generators/Constants.cs
  SysCredit.Api/Controllers/PaymentFrequencyController.cs
  SysCredit.Api/Interfaces/Services/IPaymentFrequencyService.cs
  SysCredit.Api/Properties/ErrorCodeMessages.es-NI.resx
  SysCredit.Api/Properties/ErrorCodeMessages.resx
  SysCredit.Api/Requests/PaymentFrequencies/DeletePaymentFrequencyRequest.cs
  SysCredit.Api/Services/PaymentFrequencyService.cs
  SysCredit.Api/Stores/PaymentFrequencyStore.cs
  SysCredit.Api/Validations/PaymentFrequencies/DeletePaymentFrequencyValidator.cs
  SysCredit.SQLServer/StoredProcedures/Catalogs/PaymentFrequencies/DeletePaymentFrequency.sql
  SysCredit.SQLServer/SysCredit.SQLServer.sqlproj
Labels: endpoint, api, backend, PaymentFrequency

#49 feat: Create Validator for Update LoanType by Id
  SysCredit.Api/Controllers/LoanTypeController.cs
  SysCredit.Api/Extensions/ValidatorExtensions.cs
  SysCredit.Api/Properties/ErrorCodeMessages.es-NI.resx
  SysCredit.Api/Properties/ErrorCodeMessages.resx
  SysCredit.Api/Services/LoanTypeService.cs
  SysCredit.Api/Stores/LoanTypeStore.cs
  SysCredit.Api/Validations/LoanTypes/UpdateLoanTypeValidator.cs
  SysCredit.Api/Validations/LoanTypes/VerifyRouteWithLoanTypeIdValidator.cs
Labels: endpoint, api, backend, C#, LoanType

#48 feat: Adding Get Loans By CostumerId
  SysCredit.Api/Controllers/CustomerController.cs
  SysCredit.Api/Interfaces/Services/ICustomerService.cs
  SysCredit.Api/Properties/ErrorCodeMessages.resx
  SysCredit.Api/Services/CustomerService.cs
  SysCredit.Api/Stores/CustomerStore.cs
  SysCredit.DataTransferObject/Commons/LoanInfo.cs
  SysCredit.SQLServer/StoredProcedures/Customers/FetchLoansByCustomerId.sql
  SysCredit.SQLServer/SysCredit.SQLServer.sqlproj
Labels: endpoint, api, C#, Customer
